/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .container {
        padding: 0 4px !important;
        margin-top: 68px;
    }

    .navbar {
        width: 100% !important;
        position: fixed;
    }

    .navbar ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar ul li {
        padding: 10px;
    }

    .items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .introduct {
        padding: 12px 12px !important;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .item {
        width: 48% !important;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .item {
        width: 100% !important;
    }
}